// Place all the styles related to the bmi controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.wrap {
  width: 800px;
  height: 800px;
  display: flex;
  margin: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.container {
  width: 350px;
  height: 230px;
  background-color: rgba($color: #1296e2, $alpha: 0.5);
  padding: 20px;
  line-height: 30px;
  border: 5px double #000;
}
.pic {
  width: 300px;
}
.pic img {
  width: 250px;
}

.height,
.weight,
.submit {
  margin: 20px 0;
  font-weight: bold;
  font-size: 20px;
  border-radius: 30px;
}

.container button {
  margin: 0 120px;
  color: #000;
  border: 1px solid #7d7d7d;
  border-radius: 18px;
  padding: 10px;
  font-size: 14px;
}

a {
  color: #000;
}
